In [43]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier

ModuleNotFoundError: No module named 'matplotlib'

In [44]:
data=pd.read_csv("/home/root1/zoo.csv",header=None)

In [29]:
data

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
0,aardvark,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
1,antelope,1,0,0,1,0,0,0,1,1,1,0,0,4,1,0,1,1
2,bass,0,0,1,0,0,1,1,1,1,0,0,1,0,1,0,0,4
3,bear,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
4,boar,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,wallaby,1,0,0,1,0,0,0,1,1,1,0,0,2,1,0,1,1
97,wasp,1,0,1,0,1,0,0,0,0,1,1,0,6,0,0,0,6
98,wolf,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1,1
99,worm,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,7
100,wren,0,1,1,0,1,0,0,0,1,1,0,0,2,1,0,0,2

In [30]:
data.drop(data.columns[0], axis = 1, inplace = True)

In [31]:
cols=[0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]
X=data.iloc[:,cols]
X
#[:16]
#[:16:17]

     1   2   3   4   5   6   7   8   9   10  11  12  13  14  15  16
0     1   0   0   1   0   0   1   1   1   1   0   0   4   0   0   1
1     1   0   0   1   0   0   0   1   1   1   0   0   4   1   0   1
2     0   0   1   0   0   1   1   1   1   0   0   1   0   1   0   0
3     1   0   0   1   0   0   1   1   1   1   0   0   4   0   0   1
4     1   0   0   1   0   0   1   1   1   1   0   0   4   1   0   1
..   ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..
96    1   0   0   1   0   0   0   1   1   1   0   0   2   1   0   1
97    1   0   1   0   1   0   0   0   0   1   1   0   6   0   0   0
98    1   0   0   1   0   0   1   1   1   1   0   0   4   1   0   1
99    0   0   1   0   0   0   0   0   0   1   0   0   0   0   0   0
100   0   1   1   0   1   0   0   0   1   1   0   0   2   1   0   0

[101 rows x 16 columns]

In [32]:
y=data.iloc[:,16]
y

0      1
1      1
2      4
3      1
4      1
      ..
96     1
97     6
98     1
99     7
100    2
Name: 17, Length: 101, dtype: int64

In [33]:

X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=.2, test_size=.8)

In [34]:

clf = DecisionTreeClassifier().fit(X_train, y_train)

In [35]:
pred = clf.predict(X_test)

In [36]:
print('Accuracy of classifier on test set: {:.2f}'
     .format(clf.score(X_test, y_test)))
print()
print(confusion_matrix(y_test, pred))
print()
print(classification_report(y_test, pred))

Accuracy of classifier on test set: 0.72

[[32  0  0  0  1  0  0]
 [ 0 13  0  0  0  0  0]
 [ 1  0  0  0  3  1  0]
 [ 0  0  0 10  0  0  0]
 [ 0  0  0  0  2  1  0]
 [ 0  0  0  0  6  1  0]
 [ 1  0  0  0  8  1  0]]

              precision    recall  f1-score   support

           1       0.94      0.97      0.96        33
           2       1.00      1.00      1.00        13
           3       0.00      0.00      0.00         5
           4       1.00      1.00      1.00        10
           5       0.10      0.67      0.17         3
           6       0.25      0.14      0.18         7
           7       0.00      0.00      0.00        10

    accuracy                           0.72        81
   macro avg       0.47      0.54      0.47        81
weighted avg       0.69      0.72      0.70        81

/home/root1/.local/lib/python3.6/site-packages/sklearn/metrics/_classification.py:1248: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/home/root1/.local/lib/python3.6/site-packages/sklearn/metrics/_classification.py:1248: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/home/root1/.local/lib/python3.6/site-packages/sklearn/metrics/_classification.py:1248: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [37]:
from sklearn import tree
plt.figure(figsize=(30,30))
tree.plot_tree(fig)
plt.show()

NameError: name 'plt' is not defined